html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.full-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/b.png');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin-top: 50px;
}

h2 {
    color: #ffffff;
}

.btn-primary {
    background-color: #c699af;
}

img {
    width: 20%;
}

a {
    color: white;
    text-decoration: none;
}

.tick {
    color: green;
    font-weight: bold;
    display: none;
}