<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz Turysty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/formTouristType.js" defer></script>
    <link rel="stylesheet" href="../static/css/formTouristType.css">
</head>
<body>
    <div class="full-page-container container-fluid text-center py-5">
        <h2 class="text-center">Formularz Turysty</h2>
        <form id="touristForm">
            <div class="mb-3">
                <label class="form-label">Typ turysty</label><br>
                <!-- 9 różnych checkboxbuttonów -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type1" value="Adventure" >
                    <label class="form-check-label" for="type1">Adventure</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type2" value="Architecture">
                    <label class="form-check-label" for="type2">Architecture</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type3" value="Culture" >
                    <label class="form-check-label" for="type3">Culture</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type4" value="Foodies" >
                    <label class="form-check-label" for="type4">Foodies</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type5" value="Local Crafts & Shopping" >
                    <label class="form-check-label" for="type5">Local Crafts & Shopping</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type6" value="Nature" >
                    <label class="form-check-label" for="type6">Nature</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type7" value="NightLife" >
                    <label class="form-check-label" for="type7">NightLife</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type8" value="Relax" >
                    <label class="form-check-label" for="type8">Relax</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="touristType" id="type9" value="Sports" >
                    <label class="form-check-label" for="type9">Sports</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </form>
    </div>
</body>
</html>